
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
@media only screen and (orientation: landscape)
and (max-width: 1200px){
  .carousel {
    margin-bottom: 2rem;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  background-color: #777;
  border-radius: 20px;
  overflow: hidden;
}
.carousel-item > img {
  position: relative;
  width: 100%;
  height: auto;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-control-prev {
  left: -30px;
}
.carousel-control-next {
  right: -30px;
}
@media (min-width: 500px) {
  .carousel-control-prev {
    left: -50px;
  }
  .carousel-control-next {
    right: -50px;
  }
}
@media (min-width: 1200px) {
  .carousel-control-prev {
    left: -70px;
  }
  .carousel-control-next {
    right: -70px;
  }
}
.carousel-indicators {
  border: none;
}
.carousel-indicators .active {
  background-color: #3a3a3a;
}
.carousel-indicators li {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.carousel-control-next i, .carousel-control-prev i {
  font-weight: bolder;
  font-size: xx-large;
  color: black;
}
