
body {
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	color: black;
	opacity: 0;
}

a {
	color: #a7a7a7;
}

a:hover, a:active {
	color: #a7a7a7;
	text-decoration: line-through;
	-webkit-text-decorations-in-effect: line-through;
}

/* Text Transform Class */

.f-capz {
	text-transform: capitalize;
}

.f-upp {
	text-transform: uppercase;
}

.f-low {
	text-transform: lowercase;
}

/* Back to top button */

.back-to-top {
	position: fixed;
	background: grey;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 30px;
	bottom: 25px;
	transition: background 0.5s;
	z-index: 11;
}

@media (min-height: 1000px){
	.back-to-top {
	  	right: 50px;
	  	bottom: 55px;
	}
}

.back-to-top i {
	padding-top: 12px;
	color: #fff;
}

/* Section */
@media (min-width: 576px){
	.container {
	    max-width: 640px;
	}
}

@media (min-width: 767px) {
	.container {
		max-width: 720px !important;
	}
}

@media (min-width: 800px) {
	.container {
		max-width: 750px !important;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 940px !important;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px !important;
	}
}

#head, #project, #contact, #about {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	padding: 2vw 0 4vw 0;
	font-size: 5.1vw;
	font-weight: bolder;
	line-height: 1.2;
	-webkit-text-stroke-width: thin;
	overflow: hidden;
}

#project {
	min-height: 0 !important;
}

@media screen and (orientation: portrait)
and (max-height: 806px) {
	#head, #project, #contact, #about {
		font-size: 6vh;
	}
}

@media screen and (orientation: portrait)
and (min-height: 807px) {
	#head, #project, #contact, #about {
		font-size: 5.5vh;
	}
}

@media screen and (orientation: portrait)
and (min-height: 1024px) {
	#head, #project, #contact, #about {
		font-size: 6.4vh;
	}
}

@media screen and (orientation: portrait)
and (min-height: 1366px) {
	#head, #project, #contact, #about {
		font-size: 6.6vh;
	}
}

@media screen and (orientation: landscape) 
and (max-width: 667px) {
	#head, #project, #contact, #about {
		font-size: 6.1vw;
	}
}

@media screen and (orientation: landscape) 
and (min-width: 658px) and (max-width: 767px) {
	#head, #project, #contact, #about {
		font-size: 5.6vw;
	}
}

@media screen and (orientation: landscape) 
and (min-width: 768px) and (max-width: 991px) {
	#head, #project, #contact, #about {
		font-size: 5vw;
	}
}

@media screen and (orientation: landscape)
and (min-width: 992px) and (max-width: 1200px) {
	#head, #project, #contact, #about {
		font-size: 6.7vw;
	}
}

@media screen and (orientation: landscape) 
and (min-height: 860px) {
	#head, #project, #contact, #about {
		font-size: 6.6vw;
	}
}

@media screen and (orientation: landscape) 
and (min-width: 1400px) {
	#head, #project, #contact, #about {
		font-size: 6vw;
	}
}

#contact {
	background: #1b1b1b;
	color: white;
}

.logo {
	position: absolute;
    width: 15%;
    height: auto;
    right: 0;
}

.logo img {
	position: relative;
	width: 100%;
	height: auto;
}

.home-project {
	position: relative;
    display: -webkit-inline-box;
    display: inline-flex;
    font-size: 3vh;
    font-weight: lighter;
    margin-top:  15px;
    margin-bottom: 90px;
    width: 65%;
}

.home-project-img {
	position: relative;
	width: 100%;
	height: auto;
}

.home-project-img img {
	position: relative;
	width: 100%;
	height: auto;
}

.home-project-title {
	position: absolute;
	bottom: 15px;
	right: -25%;
	font-size: 5vw;
	font-weight: bold;
}

@media screen and (orientation: portrait) {
	.home-project-title {
		position: absolute;
		bottom: 5px;
		right: -25%;
		font-size: 5vw;
		font-weight: bold;
	}
}

.ab-parent {
	position: relative;
	display: table;
	width: 100%;
}

.ab-child {
	display: table-cell;
}

.ab-header {
	position: relative;
	overflow: hidden;
}

.ab-logo {
	position: relative;
	width: 15%;
	overflow: hidden;
}

.ab-logo img {
	position: relative;
	width: 100%;
	height: auto;
}

.about-content {
	text-align: justify;
	font-size: 5vh;
	font-weight: lighter;
	padding-top: 60px;
	-webkit-text-stroke-width: initial;
}

@media screen and (orientation: portrait)
{
	.about-content {
		text-align: left;
		font-size: 3vh;
	}
}

@media screen and (orientation: landscape)
and (min-width: 991px) and (max-width: 1200px) {
	.about-content {
		font-size: 4.7vh;
	}
}

.portofolio-link-wrapper {
	top: -20px;
}

@media screen and (min-width: 920px) 
and (max-width: 1200px) {
	.portofolio-link-wrapper {
		top: -10px;
	}
}

@media screen and (max-width: 768px) {
	.portofolio-link-wrapper {
		top: -13px;
	}
}

@media screen and (orientation: portrait) {
	.portofolio-link-wrapper {
		top: 0px;
	}
}

@media screen and (orientation: landscape)
and (max-width: 670px) {
	.portofolio-wrapper {
		max-width: 600px;
		margin: auto;
	}
}

@media screen and (orientation: portrait)
and (max-width: 991px) {
	.portofolio-wrapper {
		width: 90%;
		margin: auto;
	}
}

.portofolio-list {
	position: relative;
    display: -webkit-inline-box;
    display: flex;
    font-size: 3vh;
    font-weight: lighter;
    left: -6%;
    margin-top:  15px;
    margin-bottom: 90px; 
}

.portofolio-head {
	position: relative;
    font-size: 1vw;
    width: 6.999%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: end;
    padding-left: 5px;
    letter-spacing: 1.5px;
}

@media screen and (orientation: portrait)
{
	.portofolio-head {
		font-size: 1vh;
	}
}

.portofolio-img {
	position: relative;
	width: 93%;
	height: auto;
}

.portofolio-img img {
	position: relative;
	width: 100%;
	height: auto;
}

.portofolio-link {
	font-size: 1.7vw;
	font-weight: lighter;
	-webkit-text-stroke-width: thin;
	letter-spacing: 2px;
	margin: 3px 0 3px 0;
	animation: 1.5s ease-out 0s 1 portLinkAnim;
}

.content-wrapper {
	position: relative;
	width: 100%;
	height: auto;
    margin: 15px 0px;
}

.content-wrapper img {
	position: relative;
	width: 100%;
	height: auto;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(255,255,255); /* Fallback color */
	background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
	/*margin: auto;*/
	display: block;
	width: 80%;
	max-width: 700px;
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border: none !important;
	background-color: unset !important;
	border-radius: 0px !important;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
	animation-name: zoom;
	animation-duration: 1s;
}

@media only screen and (orientation: landscape)
and (max-width: 1200px){
	.modal-content {
		width: 50%;
	}
}

@keyframes zoom {
	from {transform:scale(0);transform: translate(-50%, -50%);}
	to {transform:scale(1);transform: translate(-50%, -50%);}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

@media only screen and (min-width: 1200px){
	.close {
		right: 75px;
	}
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		/*width: 100%;*/
	}
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    margin-top: -22px;
    padding: 4px 2px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background: background-color: rgba(0, 0, 0, 0.8);
    border-radius: 35px; 
}

a.prev, a.next {
	color: white !important;
}

/* Position the "prev button" to the left */
.prev {
	left: -50px;
}

/* Position the "next button" to the right */
.next {
	right:-50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.5)
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@-webkit-keyframes portLinkAnim {
	0% {
		transform: translate(0%, -200%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes portLinkAnim {
	0% {
		transform: translate(0%, -200%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

